*:focus,
*:active {
    outline: none;
}
body {
    display: flex;
    background: #dedede;
    font-family: "Barlow Condensed";
}
h1, h2 {
    text-align: center;
    background: black;
    color: white;
    padding: 3px;
}
h1 {
    margin-top: 0;
    background: skyblue;
}
#all {
    background: white;
    display: block;
    width: 600px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0 1px 2px black;
    text-align: center;
}
article {
    max-width: 400px;
}
article h2 {
    background: white;
    color: black;
}
.date {
    border-top: 1px dotted grey;
}
.twocol {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 255px;
    text-align: left;
    margin: 0 auto;
}
label {
    width: 100%;
    display: block;
    border-bottom: 1px solid lightgrey;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: right;
    padding-right: 3px;
}
input, textarea {
    width: 100%;
}
input[type=text],
input[type=longtext],
input[type=password],
textarea {
    display: block;
    height: 30px;
    box-sizing: border-box;
    border: 1px dashed lightgrey;
    border-top: 0;
    border-bottom: 1px solid grey;
    padding-left: 5px;
}
textarea {
    min-height: 250px; 
}
input.inputupper {
    text-transform: capitalize;
}
input.first {
    border-top: 1px dashed lightgrey;
}
input[type=submit] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0 1px 2px grey;
}
.newsform {
    border: none;
    border-bottom: 1px dashed black;
}
article {
    border: 1px dashed grey;
    border-radius: 5px;
    padding: 0 5px;
    margin: 10px auto;
}
article h2 {
    margin: 0;
    border-bottom: 1px dotted grey;
}
article img {
    max-width: 100%;
}
a, input[type=submit] {
    display: block;
    background: green;
    color: white;
    margin: 10px auto;
    padding: 5px;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    transition: .1s ease-out;
    max-width: 200px;
}
a:hover,
a:active,
input[type=submit]:hover,
input[type=submit]:active {
    transform: scale(.9);
    cursor: pointer;
}